@using BlazorLab.MyLib.ViewModels
@using System.Threading;

@inject IMainViewModel mainViewModel

<h3>MainView</h3>
@if (mainViewModel.CurrentNumber == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><em>Er zijn @mainViewModel.CurrentNumber items gegenereerd.</em></p>
    <button @onclick="LaadDetails">Ga naar details</button>
    <button>Toon messagebox</button>
    <button>Selecteer een object</button>
}

@code {
    void LaadDetails()
    {
        mainViewModel.GoToDetailsCommand.Execute(null);
        ViewChanged.InvokeAsync();
    }

    [Parameter]
    public EventCallback<string> ViewChanged{get;set;}
}
